@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --background: #f5f5f5;
  --primary-text: #333;
  --verde: #006400;
  --verde-hover: #004600;
  --branco: #fff;
  --amarelo: #ffd700;
  --vermelho: #d32f2f;
  --azul: #87ceeb;
  --preto: #000;
}

body.dark-mode {
  --background: #0d1117;
  --primary-text: #fff;
  --verde: #32a852;
  --verde-hover: #267a3e;
  --branco: #1f1f1f;
  --amarelo: #ffcc00;
  --vermelho: #ff5c5c;
  --azul: #4da6ff;
  --preto: #d7d7d7;
}

body {
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.nav {
  height: 130px;
}

nav {
  display: flex;
  justify-content: space-between;
  background: var(--branco);
  padding: 4px 85px;
  align-items: center;
  height: 130px;
  position: fixed;
  width: 100%;
  gap: 620px;
  font-size: 20px;
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav img {
  width: 200px;
  margin-top: 50px;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-text);
  transition: ease 0.3s;
}

.themes {
  position: relative;
}

.themes i {
  position: absolute;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.header .green-p {
  font-size: 60px;
  color: var(--verde);
  font-weight: bolder;
}

.header .black-p {
  font-size: 40px;
  color: var(--primary-text);
}

.header img {
  width: 300px;
}

.header button {
  width: 210px;
  height: 65px;
  font-size: 1.9em;
  color: var(--branco);
  background-color: var(--verde);
  border: none;
  border-radius: 6px;
  padding: 2px 10px;
  margin-top: 25px;
  cursor: pointer;
}

.section-about-us {
  width: 100%;
  padding: 270px 100px;
}

#about-us {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  padding: 0 60px;
}

#about-us img {
  width: 500px;
  height: 500px;
}

#about-us aside {
  text-align: center;
}

#about-us h1 {
  color: var(--verde);
  font-size: 56px;
}

#about-us h2 {
  color: var(--primary-text);
  margin-top: 30px;
  font-weight: 500;
  font-size: 35px;
}

#about-us p {
  margin-top: 20px;
  font-size: 24px;
  color: var(--preto);
}

#about-us button {
  width: 150px;
  font-size: 30px;
  padding: 1px 10px;
  height: 60px;
  background-color: var(--verde);
  color: var(--branco);
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: ease 0.3s;
}

button {
  color: var(--branco);
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: ease 0.3s;
}

button:hover {
  background-color: var(--verde-hover);
  color: #f5f5f5;
}

#about-us button:hover {
  background-color: var(--verde-hover);
  color: #f5f5f5;
}
.service img {
  width: 135px;
  height: 135px;
  border-radius: 12px;
}

.section-services {
  width: 100%;
  padding: 10px 100px;
  padding-bottom: 100px;
}

.services-title {
  text-align: center;
}

.offering {
  font-size: 32px;
  color: var(--preto);
}

.our-services {
  color: var(--verde);
  font-size: 45px;
  font-weight: 600;
}

.services {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  text-align: center;
  justify-content: center;
  gap: 60px;
  margin-top: 45px;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.service-title {
  font-size: 24px;
  color: var(--primary-text);
}

.service-p {
  font-size: 15px;
  color: var(--primary-text);
  padding: 0 20px;
}

.section-menu {
  padding: 100px 300px;
  width: 100%;
}

.menu-title {
  text-align: center;
}

.check {
  font-size: 32px;
  color: var(--preto);
}

.our-menu {
  font-size: 45px;
  color: var(--verde);
  font-weight: 600;
}

.menu-items {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  text-align: center;
  justify-content: center;
  gap: 55px;
  margin-top: 40px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--background);
  border-radius: 4px;
  padding: 12px 30px;
  justify-content: center;
  text-align: center;
  position: relative;
  align-items: center;
  height: 250px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.item-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text);
}

.menu-img img {
  width: 170px;
  height: 110px;
}

.item-price {
  color: var(--primary-text);
}

.cart-icon {
  background: var(--verde);
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--branco);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  transition: ease 0.3s;
}

.cart-icon:hover {
  background: var(--verde-hover);
}

.section-contact {
  padding: 60px 300px;
}

#contact-us {
  display: flex;
  text-align: center;
  justify-content: center;
}

#contact-us article {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title p {
  font-size: 32px;
  color: var(--preto);
}

.title h2 {
  font-size: 60px;
  color: var(--verde);
}

#contact-us article .text {
  padding: 0 160px 0 0;
  font-size: 23px;
  color: var(--primary-text);
}

#contact-us aside {
  align-items: center;
  display: flex;
}

#contact-us aside button {
  background: var(--verde);
  font-size: 30px;
  width: 240px;
  height: 85px;
  padding: 0 15px;
}
#contact-us aside button:hover {
  background: var(--verde-hover);
}

.footer {
  padding: 150px 100px;
}

footer {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: center;
  gap: 35px;
}

.left-footer,
.services-footer,
.information,
.adress {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.left-footer h1 {
  color: var(--verde);
  font-size: 28px;
  font-weight: 600;
  font-family: "Ubuntu";
}

.left-footer p {
  font-size: 15px;
  font-weight: 500;
  color: var(--primary-text);
}

.socials {
  display: flex;
  gap: 10px;
  text-align: center;
}

.socials a {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 20px;
}

.services-footer h1 {
  font-size: 30px;
  color: var(--preto);
}

.information h1 {
  font-size: 30px;
  color: var(--preto);
}

.adress h1 {
  font-size: 30px;
  color: var(--preto);
}

.services-footer a {
  text-decoration: none;
  color: var(--primary-text);
  transition: ease 0.3s;
}

.services-footer a:hover {
  color: #5b5b5b;
}

.information a {
  text-decoration: none;
  color: var(--primary-text);
  transition: ease 0.3s;
}

.information a:hover {
  color: #5b5b5b;
}

.adress p {
  color: var(--primary-text);
}

nav a:hover {
  color: #5b5b5b;
}

.darkmode:hover {
  color: var(--azul);
}

.lightmode:hover {
  color: var(--amarelo);
}
